<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
        <div id="box">
            <input type="text" v-model="ml"  @keyup="search()">
            <ul>
                <li v-for="value in myDatas">
                    {{value}}
                </li>
            </ul>
            <p>没有数据</p>
        </div>

        <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="js/vue.js"></script>
        <script src="js/vue-resource.js"></script>
        <script>
            window.onload = function () {
                new Vue({
                    el: '#box',
                    data: {
                        myDatas:[],
                        ml:''
                    },
                    methods:{
                        search:function(){
                            this.$http.jsonp("https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su",{
                                "wd":this.ml
                            },{
                                jsonp:"cb"
                            }).then(function(res){
                                this.myDatas = res.data.s;
                            },function(res){
                                alert(res.status);
                            });
                        }
                    }
                });
            };
        </script>
    </body>
</html>